/*********************************
General
*********************************/

body {
  font-family: "Lato", serif, sans-serif;
  background-color: #d50000;
  padding-top: 150px;
  text-align: center;
}

/*********************************
Timer titles and buttons
*********************************/

#setTimerTitles {
  margin-bottom: 15px;
  font-size: 20px;
  color: white;
}

#setTimerButtons {
  font-size: 20px;
}

/*********************************
Footer
*********************************/

footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #000000;
}