/*********************************
General
*********************************/

body {
  font-family: "Lato", serif, sans-serif;
  background-color: #d50000;
  padding-top: 150px;
  text-align: center;
}

#container-clock {
  width: 500px;
}

/*********************************
Timer titles and timer buttons
*********************************/

#setTimerTitles {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

#setTimerButtons {
  font-size: 20px;
}

#timeBreak {
  margin-left: 10px;
  margin-right: -5px;
}

#timeWork {
  margin-left: 10px;
  margin-right: -5px;
}

#counter {
  width: 300px;
  margin: 20px auto;
  border: solid;
  border-color: #ffff8d;
  border-radius: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons {
  width: 35px;
  height: 35px;
  background-color: #ffd600;
  border-radius: 15px;
}

.buttonsTimer {
  background-color: #f57f17;
  border: none;
}

button:focus {
  outline:0;
}

#hint {
  font-size: 30px;
}

#timer {
  font-size: 60px;
}

/*********************************
Footer
*********************************/

footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #000000;
}